<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <meta name="googlebot" content="noindex, nofollow">


    <link rel="stylesheet" type="text/css" href="ang.css"> 
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css">
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css">
    
</head>
<body ng-app="myApp">

	<div class="col-sm-10" ng-controller="pdControllerOne">
	  <input type="number" ng-change="changeFields()"  min="0" max="99" required ng-model="fields.count"/>
	  
	  <div class="col-sm-4">
	    <fieldset data-ng-repeat="field in choiceSet.choices track by $index">
	      <input type="number" ng-model="choiceSet.choices[$index]">
	      {{skuSet[$index].name}}:  {{skuSet[$index].price * choiceSet.choices[$index]}} 
	    </fieldset>
	  </div>
	</div>





  	<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-resource.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

    <!-- angular app follows, sorry world. -->
    <script type="text/javascript" src="ang.js"></script>

</body>
</html>